a {
    text-decoration: underline;
}
#wrapper {
    width: 800px;
}
#nav,
#search {
    position: static;
    background: transparent;
    text-align: left;
    padding: 0;
    margin: 40px 0;
}
#nav a {
    background: rgba(255, 255, 255, 0.5);
}
#nav a:hover {
    background: #3E97D1;
}