body, table {color: #333;}
h1, h2, h3, h4, strong {color: #000;}
code, pre, blockquote {background: #ccc;}
body {background: #f0f0f0;}
body.play {margin: 2em;}


h1 {border-bottom: 8px #666 solid; margin-bottom: 0.5em; padding-bottom: 0.5em;}
h2 {margin: 0.75em 0; padding: 0.25em 0; background: #333; color: #fff; border-bottom-right-radius: 1em;}
h2 strong {color: #fff;}
h2 a {color: #ff0;}
h2 a:hover {background: yellow; color: black;}

h2 {
    margin-left: -20px;
    padding-left: 20px;
    margin-right: 20px;
    position: relative;
}
h2:after {
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 0px;
    width: 0px;
    background: transparent;
    content: " ";
    border-style: solid;
    border-width: 5px 10px;
    border-color: gray gray transparent transparent;
}

section {
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.25);
}