@charset "UTF-8";
html, table,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei"; }

code, pre {
  font-family: Monaco, Consolas, "Courier New";
  font-size: 85%; }

body::after {
  position: fixed;
  right: 0;
  bottom: 0;
  content: '{"theme":"我被拍平了","designer":"@勾三股四"}';
  font-family: Monaco, Consolas, "Courier New";
  font-size: 80%;
  padding: 0.75em;
  box-sizing: border-box;
  color: white;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 0.5em; }

body {
  line-height: 1.5;
  word-break: break-all; }

a {
  text-decoration: none;
  border-bottom: 1px black dashed; }

#header {
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid gray;
  background: #09c;
  color: white; }
  #header h1 .first-letter {
    display: inline-block;
    -webkit-transform: translate(-80%, 0) scale(3) rotate(-15deg);
    -moz-transform: translate(-80%, 0) scale(3) rotate(-15deg);
    -ms-transform: translate(-80%, 0) scale(3) rotate(-15deg);
    transform: translate(-80%, 0) scale(3) rotate(-15deg);
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    transition: all 0.05s; }
  #header:hover h1 .first-letter {
    -webkit-transform: translate(-80%, -10px) scale(3) rotate(15deg);
    -moz-transform: translate(-80%, -10px) scale(3) rotate(15deg);
    -ms-transform: translate(-80%, -10px) scale(3) rotate(15deg);
    transform: translate(-80%, -10px) scale(3) rotate(15deg); }
  #header a {
    color: white;
    border-bottom-color: white; }

#nav {
  text-align: center;
  padding: 0.5em 0; }
  #nav ul {
    height: auto;
    display: block; }

#main {
  margin: 0 auto;
  max-width: 40em;
  padding: 0 1em;
  box-sizing: border-box; }
  #main .content {
    color: #333; }
    #main .content h3, #main .content h4, #main .content h5, #main .content h6 {
      color: #363; }
    #main .content img {
      padding: 1px;
      background: white;
      border: 1px #999 solid;
      max-width: 100%;
      box-sizing: border-box; }
    #main .content h2 {
      text-align: center;
      padding: 0.5em 1em;
      background: #6c6;
      color: white; }
      #main .content h2 a {
        color: white;
        border-bottom-color: white; }
    #main .content:first-child h2:first-child {
      margin-top: 0; }

#footer {
  text-align: center;
  background: #f60;
  padding: 1em;
  color: white;
  padding-bottom: 4em; }
  #footer a {
    color: white;
    border-bottom-color: white; }

@media all and (min-width: 1600px) {
  body {
    font-size: 150%; } }
@media all and (min-width: 1000px) and (max-width: 1600px) {
  body {
    font-size: 125%; } }
@media all and (min-width: 400px) and (max-width: 1000px) {
  body {
    font-size: 100%; } }
@media all and (max-width: 400px) {
  body {
    font-size: 80%; }

  body::after {
    position: static;
    color: #666;
    background: transparent;
    text-align: center;
    display: block;
    margin: 0;
    font-size: 75%; }

  #footer {
    padding-bottom: 1em; } }
.page-navigator {
  list-style: none;
  padding: 0;
  font-size: 85%; }
  .page-navigator li {
    display: inline-block;
    margin-right: 5px; }
  .page-navigator a {
    padding-left: 0.75em;
    padding-right: 0.75em; }

#comments > .comment-list {
  padding-left: 40px; }

.comment-list {
  list-style: none;
  margin: 40px 0;
  padding: 0; }

.comment-body {
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  padding-left: 40px; }
  .comment-body > p {
    clear: both; }

.comment-author {
  float: left;
  position: relative;
  padding-bottom: 10px; }
  .comment-author cite {
    font-weight: bold;
    font-style: normal;
    font-size: 24px; }
  .comment-author img {
    position: absolute;
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 3px;
    background: white;
    box-shadow: 1px 1px 3px 2px #999;
    left: -76px;
    top: -8px; }

.comment-meta {
  float: right;
  font-size: 16px; }

blockquote {
  font-family: "Georgia", serif;
  color: #666;
  font-style: italic;
  line-height: 1.8em;
  border-left: 5px solid #ddd;
  padding-left: 1.5em; }

pre, code {
  color: #333;
  background: #fafafa;
  border-radius: 5px; }

pre {
  padding: 0.5em 1em; }
  pre code {
    font-size: 100%;
    margin-left: 0;
    margin-right: 0; }

/*# sourceMappingURL=style.css.map */
