<ul>
<% page.posts.each(function(post){ %>
  <li>
    <span style="font-family: monospace;"><%= post.date.format('YYYY-MM-DD hh:mma') %></span>
    <a href="<%- url_for(post.path) %>">
      <%= post.title %>
    </a>
  </li>
<% }) %>
</ul>

<% if (page.total > 1){ %>
<ol class="page-navigator">
  <%- paginator({
    prev_text: '&laquo;',
    next_text: '&raquo;',
    show_all: true
  }) %>
</ol>
<% } %>
